:root {
  --bg: #440b6b;
  --white: #ffffff;
  --orange: #fab81d;
}

* {
  padding: 0px;
  margin: 0px;
  font-family: 'Poppins', sans-serif;
}

html {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  overflow-x: hidden;

  background-color: var(--bg);
}

button {
  cursor: pointer;
}

img {
  display: none;
}

.active {
  display: flex;
}

/* HEADER */

header {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px 70px;
}

header h1 {
  font-family: 'Bungee Spice', sans-serif;
  font-size: 2.6em;
  color: var(--orange);
}

header p {
  color: var(--white);
  font-size: 0.9em;
}

@media (min-width: 750px) {
  header h1 {
    font-size: 5em;
  }
  header p {
    font-size: 1.1em;
  }
}

/* CHARACTERS */

.menu {
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  height: 70%;
  width: 90%;
  max-width: 400px;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
}

.menu.active {
  display: flex;
  flex-direction: column;
}

#menuBg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.char img {
  display: block;
  background-color: var(--orange);
  border-radius: 50%;
  cursor: pointer;
}

.char {
  width: 44px;
  text-align: center;
}

.characterContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  gap: 20px;
  color: var(--white);
  font-size: 0.8rem;
}
#playBtn {
  width: 34px;
}

@media (min-width: 550px) {
  .characterContainer {
    font-size: 1.1rem;
  }

  .char {
    width: 60px;
  }

  #playBtn {
    width: 50px;
  }
}

.characters {
  gap: 15px;
  display: flex;
}

/* VOLUMNE CONTAINER */

.volume {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
  color: var(--white);
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24;
  cursor: pointer;
}

/* MAIN CANVAS */

.label {
  display: block;
  position: absolute;
  width: 100.1%;
  left: -0.1px;
  top: -90px;
}

#startBtn {
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 30%;
  width: auto;
  transition: all 0.1s;
}

#startBtn:hover {
  height: 32%;
}

#startBtn.active {
  display: block;
}

.canvasBorder {
  position: relative;
  top: 0;
  left: 0;
}

.canvasContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.canvasContainer #canvas {
  background-image: url('./img/bg.png');
  background-size: cover;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-position: center;
  background-repeat: no-repeat;
}

.controls button {
  background-color: transparent;
  border: none;
}

.controls {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.ad {
  display: flex;
  gap: 10px;
}

.ad input {
  width: 42px;
  height: 42px;
}

.space input {
  width: 140px;
  height: 42px;
}

/* Restart window */

.restart {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 65%;
  max-width: 300px;
  transform: translate(-50%, -50%);
  padding: 10px;
  flex-direction: column;
  align-items: center;
  background-position: center;
  justify-content: center;
  background-size: contain;
  gap: 10px;
  display: none;
  font-size: 0.9em;
}

.restart.active {
  display: flex;
}

#restartBtn {
  width: 20%;
}

.restart img {
  display: block;
  width: 100%;
  position: absolute;
  z-index: -1;
}

/* CHAR SELECT */

#shopBtn {
}

#pauseBtn {
  width: 10%;
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0.8;
}

.charaSelect {
  filter: gray;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}
.char p {
  font-size: 0.72rem;
}

.charaSelect.selected {
  -webkit-filter: grayscale(0);
  filter: none;
}

.char {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Footer */

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--white);
  font-family: 'Poppins', sans-serif;
  background-color: #2e0847;
  width: 100%;
  padding: 20px;
  padding-left: 100px;
  margin-top: 70px;
  font-size: 0.8em;
}

footer .sources {
  display: flex;
  flex-direction: column;
}

footer a {
  color: var(--orange);
}
