:root {
  --bg: #440b6b;
  --white: #ffffff;
  --orange: #fab81d;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  background-color: var(--bg);
}

button {
  cursor: pointer;
}

img {
  display: none;
}

/* HEADER */

header {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px 70px;
}

header h1 {
  font-family: 'Bungee Spice', sans-serif;
  font-size: 2.6em;
  color: var(--orange);
}

header p {
  color: var(--white);
  font-size: 0.9em;
}

@media (min-width: 750px) {
  header h1 {
    font-size: 5em;
  }
  header p {
    font-size: 1.1em;
  }
}

/* CHARACTERS */

.characters img {
  display: block;
  background-color: var(--orange);
  border-radius: 50%;
  cursor: pointer;
}

.characterContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 24px;
  color: var(--white);
}

.characters {
  display: flex;
  gap: 40px;
}

/* VOLUMNE CONTAINER */

.volume {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
  color: var(--white);
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24;
  cursor: pointer;
}

/* MAIN CANVAS */

.canvasContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.canvasContainer #canvas {
  background-image: url('./img/bg.png');
  background-size: cover;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-position: center;
  background-repeat: no-repeat;
}

.controls button {
  background-color: transparent;
  border: none;
}

.controls {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.ad {
  display: flex;
  gap: 10px;
}

.ad input {
  width: 42px;
  height: 42px;
}

.space input {
  width: 140px;
  height: 42px;
}

/* Restart window */

.restart {
  position: absolute;
  left: 50%;
  top: 20%;
  width: 75%;
  height: 50%;
  transform: translate(-50%, 0);
  padding: 10px;
  background-color: var(--white);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0.9;
  border-radius: 5px;
  gap: 10px;
  display: none;
  font-size: 0.9em;
}

.restart.active {
  display: flex;
}

.restart p,
.restart button {
  color: black;
  font-family: 'Poppins', sans-serif;
}

.restart button {
  cursor: pointer;
  font-weight: bold;
  padding: 10px 10px;
  background-color: var(--bg);
  border: none;
  color: var(--orange);
}

/* Footer */

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--white);
  font-family: 'Poppins', sans-serif;
  background-color: #2e0847;
  width: 100%;
  padding: 20px;
  margin-top: 70px;
  font-size: 0.8em;
}

footer .sources {
  display: flex;
  flex-direction: column;
}

footer a {
  color: var(--orange);
}
